/*
 * Navbar Component Styles
 * Styling for the site navigation
 */

 .main-nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--dark-blue);
    padding: var(--spacing-md) var(--spacing-lg);
    box-shadow: var(--box-shadow-light);
    border-bottom: 10px solid var(--light-blue);
    height: 70px;
}

.logo a {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-color);
}

.logo img {
    height: 60px; /* Adjust as needed to match the original look */
    padding: 3px;
  }
  

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: var(--spacing-lg);
}

.nav-links li a {
    color: var(--text-color-light);
    font-weight: 700;
    letter-spacing: 2px;
    transition: color var(--transition-fast);
}

.nav-links li a:hover {
    color: var(--light-blue-accent)
}
.nav-links li a.active {
    color: var(--light-blue);
}

/* Mobile burger menu */
.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: var(--dark-gray);
    margin: 5px;
    transition: var(--transition-fast);
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .nav-links {
        position: absolute;
        left: 0;              /* new: span full width */
        right: 0;             /* new: span full width */
        top: 100%;
        height: auto;         /* modified from calc(100vh - 60px) */
        background-color: var(--background-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform var(--transition-medium);
        z-index: 10;
        padding-top: var(--spacing-lg);
    }
    
    .nav-links.active {
        transform: translateX(0);
    }
    
    .burger {
        display: block;
    }
}